* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(64px*8);
  height: calc(64px*8);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
}

.cell img {
  user-select: none;
  max-height: 50px;
  max-width: 50px;
  position: relative;
}

.white {
  background-color: #E8EDF9;
}

.black {
  background-color: #B7C0D8;
}